.metals
.vscode
target
logs
.classpath
.factorypath
.project
.settings/

engine-data/
data/
.sdkmanrc
.bloop
.DS_Store
# Written by the maven-shade-plugin next to the POM; never committed
dependency-reduced-pom.xml
ours.csv
